  .sortable {
    padding: 0;

  }
.listTask {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1% 2%;
  margin: 0 auto;
}
.listTask button {
  border-radius: 10px;
  width: 20%;
  height: 5vh;
  background: #f35627;
}
.listTask div {
  font-size: 25px;
  width: 50%;
  text-align: center;
}
button {
  outline: none;
}

@media (min-width: 760px) {
  .listTask button {
    width: 17%;
  }
}

@media (min-width: 1000px) {
  .listTask {
    display: flex;
    flex-direction: row;
    padding: 1% 2%;
  }

  .listTask div {
    font-size: 30px;
  }
  .listTask button {
    width: 17%;
    font-size: 20px;
    font-weight: bold;
  }
}
@media (min-width: 2140px) {
  .listTask div {
    font-size: 40px;
  }
}
