* {
    box-sizing: border-box;
  }

  .logout {
    border-radius: 10px;
    width: 20%;
    height: 4vh;
    margin:0 auto;
    background: #f35627; 
  }
  .contain{
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .contain h3{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  input{
    height: 40px;
    padding-left: 5%;
  }
  
  .butNewUser{
    background: #77dd77;
    margin: 6%;
    height: 60px;
    border-radius: 30px;
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    outline: none;
  }
  .butNewUser:hover{
    background: #97dd77;
  }
  
  .containerChange{
    height: 50px;
    margin: 0 auto;
    width: 70%;
    border: 1px solid rgb(177, 173, 173);
    border-radius: 30px;
  }


  @media(min-width: 700px ){
    .contain{
      width: 70%;
    } 
  
  }
  @media(min-width: 1100px ){
    .contain{
      width: 50%;
    } 
  
  }