.container {
    display: flex;
    align-items: center;
    height: 100vh;
}
.container form {
    width: 99%;
    height: 40vh;
    margin: 0 auto;
    border-radius: 5px;
    background-color: rgb(120, 120, 185);
    padding: 1%;
    font-display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}
.content label {
    font-size:15px;
    font-weight: bold;
}
.botons {
    display:flex;
    justify-content: space-around;
}
.container button {
    margin: 0 auto;
    border-radius: 10px;
    width: 30%;
    height: 8vh;
    background: rgb(99, 185, 99);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media(min-width:370px) {
    .content {
        width: 90%;
    }
}

@media(min-width: 700px){
    .content {
        width: 90%;
    }
    .container form {width:50%;}
       
}

@media(min-width: 1000px){
    .conten { width: 70%;}
    .container form {width:45%;}
    .content label {
        font-size:20px;
    }
    .container button {
        font-size: 20px;
    } 
}

@media(min-width: 1400px){
    .conten { width: 40%;}
    .container form {width:30%;}
    .content label {
        font-size:20px;
    } 
    .container form {
        width: 30%;
        height: 35vh;
    }
}


@media(min-width: 2000px){
    .conten { width: 100%;}
    .container form {width:30%;}
    .content label {
        font-size:40px;
    } 
    .container form {
        width: 30%;
        height: 35vh;
    }
    .content input {
        height: 100px;
        width: 300px;
        font-size: 40px;
    }
    .container button {
        font-size: 40px;
    }
}